In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 作业

In [4]:
csv_input = "../3_pandas/movie_metadata.csv"

In [13]:
pd.read_csv(csv_input)[["movie_title","director_name","imdb_score"]].sort_values("imdb_score",ascending =False ).to_csv("imdb.csv")  # 注意是双层中括号

# 重命名

In [2]:
df1 = DataFrame(np.arange(9).reshape(3,3),index = ["bj","sh","gz"],columns = ["A","B","C"])
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [3]:
print(type(df1.index))
df1.index

<class 'pandas.core.indexes.base.Index'>

Index(['bj', 'sh', 'gz'], dtype='object')

In [4]:
print(type(df1.columns))
df1.columns

<class 'pandas.core.indexes.base.Index'>

Index(['A', 'B', 'C'], dtype='object')

In [5]:
df1.index = Series(["bj","sh","gz"])
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [23]:
print(type(df1.index))

<class 'pandas.core.indexes.base.Index'>

In [25]:
df1.index.map(str.upper) # 只是重新生成了一个index

Index(['BJ', 'SH', 'GZ'], dtype='object')

In [26]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [28]:
df1.index = df1.index.map(str.upper) # 只是重新生成了一个index
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [37]:
df1.rename(index=str.lower,columns=str.lower) # 重新生成一个dataframe

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [38]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [39]:
df1.rename(index={"BJ":"beijing"},columns = {"A":"a"})

         a  B  C
beijing  0  1  2
SH       3  4  5
GZ       6  7  8

In [48]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [49]:
def test_map(x):
    return x + "_ABC"

In [50]:
df1.index.map(test_map)  #

Index(['BJ_ABC', 'SH_ABC', 'GZ_ABC'], dtype='object')

In [51]:
df1.rename(index=test_map)

        A  B  C
BJ_ABC  0  1  2
SH_ABC  3  4  5
GZ_ABC  6  7  8

#### 原生map（）函数回顾

In [41]:
list1 = [1,2,3,4]
list2 = ["1","2","3","4"]

In [43]:
[str(x) for x in list1]

['1', '2', '3', '4']

In [46]:
m1 = map(str , list1)

In [47]:
list(m1)

['1', '2', '3', '4']