In [1]:
import numpy as np
import pandas as pd

In [4]:
s1 = pd.Series([1,2,3,4])  # 用python的list产生series
print(type(s1),id(s1))

<class 'pandas.core.series.Series'> 2276242100064

In [5]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
print(type(s1.values))

<class 'numpy.ndarray'>

In [7]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [8]:
s1.index

RangeIndex(start=0, stop=4, step=1)

用numpy的array产生series

In [9]:
s2 = pd.Series(np.arange(10))

In [10]:
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [11]:
s3 = pd.Series({"2":1,"3":2,"4":3})
s3

2    1
3    2
4    3
dtype: int64

In [12]:
s3.values

array([1, 2, 3], dtype=int64)

In [13]:
s3.index

Index(['2', '3', '4'], dtype='object')

In [14]:
s4 = pd.Series([1,2,3,4],index = ["a","b","c","d"])  # index可以自定义
s4

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
s4.values

array([1, 2, 3, 4], dtype=int64)

In [16]:
s4.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
s4["a"]

1

In [18]:
s4[s4>2]

c    3
d    4
dtype: int64

In [19]:
s4.to_dict()

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [21]:
s5 = pd.Series(s4.to_dict())
s5

a    1
b    2
c    3
d    4
dtype: int64

In [24]:
index_1 = ["a","b","c","d","e"]
s6 = pd.Series(s5, index=index_1)
s6

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [25]:
pd.isnull(s6)

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [26]:
pd.notnull(s6)

a     True
b     True
c     True
d     True
e    False
dtype: bool

In [27]:
s6

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [29]:
s6.name = "demo"
s6

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: demo, dtype: float64

In [30]:
s6.index.name = "demo index"
s6

demo index
a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: demo, dtype: float64

In [31]:
s6.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='demo index')

In [32]:
s6.values

array([ 1.,  2.,  3.,  4., nan])