In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import webbrowser

In [5]:
link = "http://pandas.pydata.org/pandas-docs/version/0.20/io.html"
webbrowser.open(link)

True

In [6]:
df1 = pd.read_clipboard()
df1

C:\Anaconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas          None
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query            None          None

In [7]:
df1.to_clipboard()

In [ ]:
   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas          None
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query            None          None

In [10]:
df1.to_csv("df1.csv")

In [11]:
ls

 驱动器 H 中的卷是 work
 卷的序列号是 0E46-0FA7

 H:\jupyter\零基础入门数据分析\3_pandas 的目录

2019/02/09  19:54    <DIR>          .
2019/02/09  19:54    <DIR>          ..
2019/02/09  19:42    <DIR>          .ipynb_checkpoints
2019/02/09  16:39            10,311 1_series.ipynb
2019/02/09  17:29            29,286 2_dataframe.ipynb
2019/02/09  19:42            16,885 3_深入理解Series和DataFrame.ipynb
2019/02/09  19:54             9,484 4_DataFrame IO.ipynb
2019/02/09  19:54               524 df1.csv
               5 个文件         66,490 字节
               3 个目录 127,684,001,792 可用字节

In [12]:
more df1.csv

In [13]:
df1.to_csv("df1.csv",index = False) # 在当前目录新建一个.csv文件，可直接复制进excel

In [14]:
ls

 驱动器 H 中的卷是 work
 卷的序列号是 0E46-0FA7

 H:\jupyter\零基础入门数据分析\3_pandas 的目录

2019/02/09  19:57    <DIR>          .
2019/02/09  19:57    <DIR>          ..
2019/02/09  19:42    <DIR>          .ipynb_checkpoints
2019/02/09  16:39            10,311 1_series.ipynb
2019/02/09  17:29            29,286 2_dataframe.ipynb
2019/02/09  19:42            16,885 3_深入理解Series和DataFrame.ipynb
2019/02/09  19:57             9,737 4_DataFrame IO.ipynb
2019/02/09  19:57               494 df1.csv
               5 个文件         66,713 字节
               3 个目录 127,683,989,504 可用字节

In [16]:
more df1.csv

In [17]:
df2 = pd.read_csv("df1.csv")
print(type(df2))
df2

<class 'pandas.core.frame.DataFrame'>

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas           NaN
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query             NaN           NaN

In [18]:
df1.to_json()

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"SQL","12":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"HDF5 Format","6":"Feather Format","7":"Msgpack","8":"Stata","9":"SAS","10":"Python Pickle Format","11":"SQL","12":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"read_msgpack","8":"read_stata","9":"read_sas","10":"read_pickle","11":"read_sql","12":null},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":"to_msgpack","8":"to_stata","9":null,"10":"to_pickle","11":"to_sql","12":null}}'

In [19]:
type(df1)

pandas.core.frame.DataFrame

In [20]:
pd.read_json(df1.to_json())

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query            None          None
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas          None

In [21]:
df1.to_html("df1.html")

In [22]:
ls

 驱动器 H 中的卷是 work
 卷的序列号是 0E46-0FA7

 H:\jupyter\零基础入门数据分析\3_pandas 的目录

2019/02/09  20:16    <DIR>          .
2019/02/09  20:16    <DIR>          ..
2019/02/09  19:42    <DIR>          .ipynb_checkpoints
2019/02/09  16:39            10,311 1_series.ipynb
2019/02/09  17:29            29,286 2_dataframe.ipynb
2019/02/09  19:42            16,885 3_深入理解Series和DataFrame.ipynb
2019/02/09  20:16            22,814 4_DataFrame IO.ipynb
2019/02/09  19:57               494 df1.csv
2019/02/09  20:16             2,055 df1.html
               6 个文件         81,845 字节
               3 个目录 127,683,973,120 可用字节

In [23]:
df1.to_excel("df1.xlsx")

In [24]:
ls

 驱动器 H 中的卷是 work
 卷的序列号是 0E46-0FA7

 H:\jupyter\零基础入门数据分析\3_pandas 的目录

2019/02/09  20:17    <DIR>          .
2019/02/09  20:17    <DIR>          ..
2019/02/09  19:42    <DIR>          .ipynb_checkpoints
2019/02/09  16:39            10,311 1_series.ipynb
2019/02/09  17:29            29,286 2_dataframe.ipynb
2019/02/09  19:42            16,885 3_深入理解Series和DataFrame.ipynb
2019/02/09  20:16            22,814 4_DataFrame IO.ipynb
2019/02/09  19:57               494 df1.csv
2019/02/09  20:16             2,055 df1.html
2019/02/09  20:17             5,970 df1.xlsx
               7 个文件         87,815 字节
               3 个目录 127,683,964,928 可用字节