In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

### series reindex

In [2]:
s1 = Series([1,2,3,4],index=["A","B","C","D"])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
s1.reindex(index=["A","B","C","D","E"])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [5]:
s1.reindex(index=["A","B","C","D","E","F"],fill_value = 10)

A     1
B     2
C     3
D     4
E    10
F    10
dtype: int64

In [6]:
s2 = Series(["A","B","C"],index = [1,5,10])  # 内容可以有字符串了
s2

1     A
5     B
10    C
dtype: object

In [8]:
s2.reindex(index = range(15),method="ffill")  #

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

### reindex dataframe

In [12]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index=["A","B","D","E","F"],columns=["c1","c2","c3","c4","c5"])
df1

         c1        c2        c3        c4        c5
A  0.825764  0.687477  0.787782  0.241407  0.882875
B  0.737193  0.804251  0.921612  0.502627  0.117448
D  0.448332  0.251515  0.855834  0.465735  0.125259
E  0.419341  0.947471  0.151500  0.540489  0.198397
F  0.430925  0.016330  0.298669  0.955688  0.877594

In [14]:
df1.reindex(index=["A","B","C","D","E","F"])

         c1        c2        c3        c4        c5
A  0.825764  0.687477  0.787782  0.241407  0.882875
B  0.737193  0.804251  0.921612  0.502627  0.117448
C       NaN       NaN       NaN       NaN       NaN
D  0.448332  0.251515  0.855834  0.465735  0.125259
E  0.419341  0.947471  0.151500  0.540489  0.198397
F  0.430925  0.016330  0.298669  0.955688  0.877594

In [15]:
df1.reindex(columns = ["c1","c2","c3","c4","c5","c6"])

         c1        c2        c3        c4        c5  c6
A  0.825764  0.687477  0.787782  0.241407  0.882875 NaN
B  0.737193  0.804251  0.921612  0.502627  0.117448 NaN
D  0.448332  0.251515  0.855834  0.465735  0.125259 NaN
E  0.419341  0.947471  0.151500  0.540489  0.198397 NaN
F  0.430925  0.016330  0.298669  0.955688  0.877594 NaN

In [16]:
df1.reindex(index=["A","B","C","D","E","F"],columns=["c1","c2","c3","c4","c5","c6"])

         c1        c2        c3        c4        c5  c6
A  0.825764  0.687477  0.787782  0.241407  0.882875 NaN
B  0.737193  0.804251  0.921612  0.502627  0.117448 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.448332  0.251515  0.855834  0.465735  0.125259 NaN
E  0.419341  0.947471  0.151500  0.540489  0.198397 NaN
F  0.430925  0.016330  0.298669  0.955688  0.877594 NaN

In [17]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
s1.reindex(index=["A","B"])

A    1
B    2
dtype: int64

In [19]:
df1.reindex(index =["A","B"])

         c1        c2        c3        c4        c5
A  0.825764  0.687477  0.787782  0.241407  0.882875
B  0.737193  0.804251  0.921612  0.502627  0.117448

In [20]:
s1.drop("A")

B    2
C    3
D    4
dtype: int64

In [21]:
df1.drop("c1",axis=1) #Signature: df1.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

         c2        c3        c4        c5
A  0.687477  0.787782  0.241407  0.882875
B  0.804251  0.921612  0.502627  0.117448
D  0.251515  0.855834  0.465735  0.125259
E  0.947471  0.151500  0.540489  0.198397
F  0.016330  0.298669  0.955688  0.877594

In [22]:
df1.drop("A",axis=0) # 删一行

         c1        c2        c3        c4        c5
B  0.737193  0.804251  0.921612  0.502627  0.117448
D  0.448332  0.251515  0.855834  0.465735  0.125259
E  0.419341  0.947471  0.151500  0.540489  0.198397
F  0.430925  0.016330  0.298669  0.955688  0.877594