In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

# Series  的排序

In [2]:
s1 = Series(np.random.randn(10))
s1

0    0.770644
1   -1.183551
2   -0.529428
3    0.484324
4    0.568646
5   -1.018802
6    0.258898
7   -0.460074
8   -0.303107
9    0.071199
dtype: float64

In [3]:
s1.values

array([ 0.77064375, -1.18355145, -0.52942778,  0.48432446,  0.56864632,
       -1.01880161,  0.25889792, -0.46007434, -0.30310672,  0.07119903])

In [4]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
s2 = s1.sort_values() # 从小到大 index跟随创建时绑定的数值
s2

1   -1.183551
5   -1.018802
2   -0.529428
7   -0.460074
8   -0.303107
9    0.071199
6    0.258898
3    0.484324
4    0.568646
0    0.770644
dtype: float64

In [6]:
s2 = s1.sort_values(ascending=False)  # 降序
s2

0    0.770644
4    0.568646
3    0.484324
6    0.258898
9    0.071199
8   -0.303107
7   -0.460074
2   -0.529428
5   -1.018802
1   -1.183551
dtype: float64

In [7]:
s2.sort_index()

0    0.770644
1   -1.183551
2   -0.529428
3    0.484324
4    0.568646
5   -1.018802
6    0.258898
7   -0.460074
8   -0.303107
9    0.071199
dtype: float64

In [8]:
s2.sort_index(ascending = False)

9    0.071199
8   -0.303107
7   -0.460074
6    0.258898
5   -1.018802
4    0.568646
3    0.484324
2   -0.529428
1   -1.183551
0    0.770644
dtype: float64

# DataFrame 的排序

In [9]:
df1 = DataFrame(np.random.randn(40).reshape(8,5),columns=["A","B","C","D","E"])
df1

          A         B         C         D         E
0 -0.885552 -0.786366  0.710189 -1.819618 -0.667497
1  0.280105  0.139973  1.703504 -1.121870  2.007045
2 -0.232201 -0.019742  0.797780 -0.045232 -0.352980
3  0.018899 -0.001597 -0.416774 -1.321165 -0.584151
4  0.195902  0.474315  0.009420 -0.983625 -0.450152
5 -0.423860  1.147589 -1.257218 -0.198340  1.358348
6 -0.053820 -1.425128  1.025813 -0.037699 -0.436162
7  0.558891  0.614108  0.995235 -1.838880  0.454646

In [10]:
df1["A"].sort_values(ascending = False)

7    0.558891
1    0.280105
4    0.195902
3    0.018899
6   -0.053820
2   -0.232201
5   -0.423860
0   -0.885552
Name: A, dtype: float64

In [15]:
df2 = df1.sort_values("A")  # 对A的series进行排序，同时index也根据对应的数值排列，这样其他列根据index再排序
df2

          A         B         C         D         E
0 -0.885552 -0.786366  0.710189 -1.819618 -0.667497
5 -0.423860  1.147589 -1.257218 -0.198340  1.358348
2 -0.232201 -0.019742  0.797780 -0.045232 -0.352980
6 -0.053820 -1.425128  1.025813 -0.037699 -0.436162
3  0.018899 -0.001597 -0.416774 -1.321165 -0.584151
4  0.195902  0.474315  0.009420 -0.983625 -0.450152
1  0.280105  0.139973  1.703504 -1.121870  2.007045
7  0.558891  0.614108  0.995235 -1.838880  0.454646

In [13]:
df2.sort_index()  # 和df1 一样

          A         B         C         D         E
0 -0.885552 -0.786366  0.710189 -1.819618 -0.667497
1  0.280105  0.139973  1.703504 -1.121870  2.007045
2 -0.232201 -0.019742  0.797780 -0.045232 -0.352980
3  0.018899 -0.001597 -0.416774 -1.321165 -0.584151
4  0.195902  0.474315  0.009420 -0.983625 -0.450152
5 -0.423860  1.147589 -1.257218 -0.198340  1.358348
6 -0.053820 -1.425128  1.025813 -0.037699 -0.436162
7  0.558891  0.614108  0.995235 -1.838880  0.454646

In [18]:
df2[["A","B"]]  # 从dataframe中截取特定的columns

          A         B
0 -0.885552 -0.786366
5 -0.423860  1.147589
2 -0.232201 -0.019742
6 -0.053820 -1.425128
3  0.018899 -0.001597
4  0.195902  0.474315
1  0.280105  0.139973
7  0.558891  0.614108

In [20]:
df2[index = [0,1,2]]  # 目前还不会截取特定的行

SyntaxError: invalid syntax (<ipython-input-20-63278843e751>, line 1)