In [67]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

路径 :Windows是反斜杠，linux是斜杠

In [68]:
ls ..\homework

 驱动器 H 中的卷是 work
 卷的序列号是 0E46-0FA7

 H:\jupyter\零基础入门数据分析\homework 的目录

2019/02/11  11:10    <DIR>          .
2019/02/11  11:10    <DIR>          ..
2017/11/13  19:09             6,148 .DS_Store
2017/11/13  19:09            42,706 AMZN.csv
2017/11/13  19:09           195,031 apply_demo.csv
2017/11/13  19:09            38,415 BABA.csv
2017/11/13  19:09               423 city_weather.csv
2017/11/13  19:09           134,102 demo_duplicate.csv
2017/11/13  19:09             4,600 iris.csv
2017/11/13  19:09         1,494,688 movie_metadata.csv
2017/11/13  19:09            44,028 Pokemon.csv
2017/11/13  19:09             9,520 sales-funnel.xlsx
2017/11/13  19:09            52,089 top5.csv
2017/11/13  19:09            61,194 train.csv
2017/11/13  19:09        10,578,201 usa_flights.csv
              13 个文件     12,661,145 字节
               2 个目录 127,668,207,616 可用字节

In [69]:
df = pd.read_csv("..\\homework\\apply_demo.csv")   # 注意要双斜杠

In [70]:
df.head()

         time                                data
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649

In [71]:
df.size  # 行数

7978

In [72]:
a = ["a"]*4  # 还是一个list  
a

['a', 'a', 'a', 'a']

In [73]:
s1 = Series(["a"]*7978)
s1

0       a
1       a
2       a
3       a
4       a
5       a
6       a
7       a
8       a
9       a
10      a
11      a
12      a
13      a
14      a
15      a
16      a
17      a
18      a
19      a
20      a
21      a
22      a
23      a
24      a
25      a
26      a
27      a
28      a
29      a
       ..
7948    a
7949    a
7950    a
7951    a
7952    a
7953    a
7954    a
7955    a
7956    a
7957    a
7958    a
7959    a
7960    a
7961    a
7962    a
7963    a
7964    a
7965    a
7966    a
7967    a
7968    a
7969    a
7970    a
7971    a
7972    a
7973    a
7974    a
7975    a
7976    a
7977    a
Length: 7978, dtype: object

In [74]:
df["A"] = s1  # 增加一个columns
df.head()

         time                                data  A
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623  a
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623  a
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623  a
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623  a
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649  a

In [75]:
df["A"] = df["A"].apply(str.upper)  # apply()中填入一个函数
df.head()

         time                                data  A
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623  A
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623  A
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623  A
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623  A
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649  A

In [76]:
df["data"][0] # 字符串

' Symbol: APPL Seqno: 0 Price: 1623'

In [77]:
df["data"][0].split(" ") #

['', 'Symbol:', 'APPL', 'Seqno:', '0', 'Price:', '1623']

strip() 与split（）

In [78]:
str1 = "   q     e   "  # 前面三个空格，中间5个空格，结尾三个空
str1.split(" ")

['', '', '', 'q', '', '', '', '', 'e', '', '', '']

In [79]:
str1.strip(" ")

'q     e'

In [80]:
df["data"][0].strip().split(" ")

['Symbol:', 'APPL', 'Seqno:', '0', 'Price:', '1623']

In [81]:
l1 = df["data"][0].strip().split(" ")
l1[1],l1[3],l1[5]

('APPL', '0', '1623')

In [82]:
def foo(line):
    items = line.strip().split(" ")
    return Series([items[1],items[3],items[5]])  # 通过list创建series

In [83]:
df_tmp = df["data"].apply(foo)
df_tmp.head()

      0  1     2
0  APPL  0  1623
1  APPL  0  1623
2  APPL  0  1623
3  APPL  0  1623
4  APPL  1  1649

In [84]:
df_tem = df_tmp.rename(columns = {
    0:"Symbol",
    1:"Seqno",
    2:"Price"
})
df_tem.head()

  Symbol Seqno Price
0   APPL     0  1623
1   APPL     0  1623
2   APPL     0  1623
3   APPL     0  1623
4   APPL     1  1649

In [85]:
df.head()

         time                                data  A
0  1473411962   Symbol: APPL Seqno: 0 Price: 1623  A
1  1473411962   Symbol: APPL Seqno: 0 Price: 1623  A
2  1473411963   Symbol: APPL Seqno: 0 Price: 1623  A
3  1473411963   Symbol: APPL Seqno: 0 Price: 1623  A
4  1473411963   Symbol: APPL Seqno: 1 Price: 1649  A

In [89]:
df[0]

KeyError: 0

In [100]:
df_new = df.combine_first(df_tem)  #  用df_tem 去填充df
df_new.head()

   A   Price  Seqno Symbol                                data        time
0  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0 Price: 1623  1473411962
1  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0 Price: 1623  1473411962
2  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0 Price: 1623  1473411963
3  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0 Price: 1623  1473411963
4  A  1649.0    1.0   APPL   Symbol: APPL Seqno: 1 Price: 1649  1473411963

In [101]:
del df_new["data"]
del df_new["A"]
df_new.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [106]:
df_new.to_csv("..\\homework\\demo_duplicate.csv")

In [107]:
ls ..\\homework

 驱动器 H 中的卷是 work
 卷的序列号是 0E46-0FA7

 H:\jupyter\零基础入门数据分析\homework 的目录

2019/02/11  16:37    <DIR>          .
2019/02/11  16:37    <DIR>          ..
2017/11/13  19:09             6,148 .DS_Store
2017/11/13  19:09            42,706 AMZN.csv
2017/11/13  19:09           195,031 apply_demo.csv
2017/11/13  19:09            38,415 BABA.csv
2017/11/13  19:09               423 city_weather.csv
2019/02/11  16:42           138,092 demo_duplicate.csv
2017/11/13  19:09             4,600 iris.csv
2017/11/13  19:09         1,494,688 movie_metadata.csv
2017/11/13  19:09            44,028 Pokemon.csv
2017/11/13  19:09             9,520 sales-funnel.xlsx
2017/11/13  19:09            52,089 top5.csv
2017/11/13  19:09            61,194 train.csv
2017/11/13  19:09        10,578,201 usa_flights.csv
              13 个文件     12,665,135 字节
               2 个目录 127,668,056,064 可用字节