In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
s1 = Series(np.random.randn(6),index = [["1","1","1","2","2","2"],["a","b","c","a","b","c"]]) # 标准正态分布
s1

1  a    1.270630
   b    1.889440
   c   -1.327538
2  a   -1.223649
   b   -0.096195
   c   -1.343020
dtype: float64

In [5]:
type(s1["1"])

pandas.core.series.Series

In [6]:
print(type(s1['1']['a']))
s1['1']['a']

<class 'numpy.float64'>

1.2706302282555277

In [8]:
print(type(s1[:,"a"]))
s1[:,"a"]

<class 'pandas.core.series.Series'>

1    1.270630
2   -1.223649
dtype: float64

In [9]:
# series 是一维的，多级index的series是二维的，和dataframe一样，所以可以转换
df1 = s1.unstack()
df1

          a         b         c
1  1.270630  1.889440 -1.327538
2 -1.223649 -0.096195 -1.343020

In [10]:
df2 = DataFrame([s1["1"],s1["2"]])  # 多个series创建dataframe
df2

          a         b         c
0  1.270630  1.889440 -1.327538
1 -1.223649 -0.096195 -1.343020

In [12]:
df1

          a         b         c
1  1.270630  1.889440 -1.327538
2 -1.223649 -0.096195 -1.343020

In [11]:
s2 = df1.unstack()  # df转化成series  columns ->一级index, index ->二级index
s2

a  1    1.270630
   2   -1.223649
b  1    1.889440
   2   -0.096195
c  1   -1.327538
   2   -1.343020
dtype: float64

In [13]:
s2 = df1.T.unstack()
s2

1  a    1.270630
   b    1.889440
   c   -1.327538
2  a   -1.223649
   b   -0.096195
   c   -1.343020
dtype: float64

In [15]:
print(type(df1.T))
df1.T  #

<class 'pandas.core.frame.DataFrame'>

          1         2
a  1.270630 -1.223649
b  1.889440 -0.096195
c -1.327538 -1.343020

In [23]:
df = DataFrame(np.arange(16).reshape(4,4),index = [['a','a','b','b'],[1,2,1,2]],columns = [['bj',"bj","sh","gz"],[8,9,8,8]])  # 多级index
df

     bj      sh  gz
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [24]:
df["bj"][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int32