In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
# create  a dataframe
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]})  # dict create a dataframe  key -> clumns 
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

In [3]:
df1["GDP"] = Series([1000,2000,1500])  # add a columns
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  1500  1500

In [4]:
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]})  # dict create a dataframe  key -> clumns 
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

In [6]:
gdp_map = {"北京":1000,"上海":2000,"广州":1500}
df1["GDP"]=df1["城市"].map(gdp_map)  # map的优点：不用考虑索引 
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  1500  1500

In [11]:
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]},index=["A","B","C"])  # dict create a dataframe  key -> clumns 
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [12]:
df1["GDP"]=Series([1000,2000,1300])  
df1

   城市    人口  GDP
A  北京  1000  NaN
B  上海  2000  NaN
C  广州  1500  NaN

In [14]:
df1["GDP"]=Series([1000,2000,1300],index=["A","B","C"])  
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1300

# replace in series

In [15]:
s1 = Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [16]:
s1.replace(1,np.nan)  # 返回一个新的series，内容被替换了

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [17]:
s1.replace([1,2,3],[10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64